/*
Desktop first starts with the biggest media query
*/

@media screen and (max-width:2560px) and (min-width:1921px){
  /* //////////////////////////////////////////// */
  /* /////////////////   HERO   ///////////////// */
  /* //////////////////////////////////////////// */

  .hero{
    background-size: 100%;
  }

  /* /////////////////////////////////////////////// */
  /* /////////////////   PROJECT   ///////////////// */
  /* /////////////////////////////////////////////// */

  .project{
    width: 30%;
    height: 70%;
    margin:5%;
    font-size: 40px;
  }

  /* ////////////////////////////////////////////////// */
  /* /////////////////   EXPERIENCE   ///////////////// */
  /* ////////////////////////////////////////////////// */

  .experience{
    width: 30%;
    height: 900px;
    margin: 5%;
    font-size: 40px;
  }

  .experience-image-container{
    margin:15px;
    padding:50px;
  }

  .experience-image{
    width: 300px;
    height: 300px;
  }

  .experience-image-Inart{
    width: 200px;
    height: 300px;
  }


  .contact-social{
    max-width:30%;
    width:40%;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (max-width:1920px) and (min-width:1441px){
  /* //////////////////////////////////////////// */
  /* /////////////////   HERO   ///////////////// */
  /* //////////////////////////////////////////// */

  .hero{
    background-size: 100%;
  }

  /* /////////////////////////////////////////////// */
  /* /////////////////   PROJECT   ///////////////// */
  /* /////////////////////////////////////////////// */

  .project{
    width: 35%;
    height: 70%;
    margin:5%;
    font-size: 40px;
  }

  /* ////////////////////////////////////////////////// */
  /* /////////////////   EXPERIENCE   ///////////////// */
  /* ////////////////////////////////////////////////// */

  .experience{
    width: 40%;
    height: 900px;
    margin: 3%;
    font-size: 40px;
  }

  .experience-image-container{
    margin:15px;
    padding:50px;
  }

  .experience-image{
    width: 300px;
    height: 300px;
  }

  .experience-image-Inart{
    width: 200px;
    height: 300px;
  }


  .contact-social{
    max-width:30%;
    width:40%;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (max-width:1440px) and (min-width:1025px){
  .project{
    width: 40%;
    height: 80%;
  }

  .contact-social{
    max-width:30%;
    width:100%;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width:1312px) and (min-width:1025px){
    .hero
    {
        justify-content: center;
    }
  }
}

@media screen and (max-width:1024px) and (min-width:769px){

  .burger-button{
    display:block;
  }

  .header-menu{
    position:fixed;
    background:rgba(0,0,0,.4);
    z-index:3;
    top:0;
    bottom:0;
    left:-100vw;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:.3s;
  }

  /* ////////////////////////////////////////////// */
  /* /////////////////   HEADER   ///////////////// */
  /* ////////////////////////////////////////////// */

  .header{
    display:block;
    height:auto;
    justify-content: center;
    /* align-items: center; */
  }

  /* .header-menu{
    display:block;
  } */

  .header-logo{
    text-align: center;
  }

  .header-element{
    display:block;
    text-align: center;
  }

  .header-link{
    font-size: 70px;
    padding: 25px;
  }

  /* //////////////////////////////////////////// */
  /* /////////////////   HERO   ///////////////// */
  /* //////////////////////////////////////////// */

  .hero{
    justify-content: center;
    background-color: #0F1C24;
  }

  /* /////////////////////////////////////////////// */
  /* /////////////////   PROJECT   ///////////////// */
  /* /////////////////////////////////////////////// */

  .project{
    width: 55%;
    height: 80%;
    font-size: 65px;
  }
  
  /* ////////////////////////////////////////////////// */
  /* /////////////////   EXPERIENCE   ///////////////// */
  /* ////////////////////////////////////////////////// */

  .experience{
    width: 55%;
    height: auto;
    font-size: 60px;
  }

  /* /////////////////////////////////////////////// */
  /* /////////////////   CONTACT   ///////////////// */
  /* /////////////////////////////////////////////// */

  .contact-container{
    display:block;
    height:auto;
    justify-content: center;
  }

  .contact-title{
    text-align: center;
  }

  .contact-me{
    display: flex;
    flex-direction: column;

    align-items:center;
    justify-content: center;
  }
  
  .contact-social{
    max-width:100%;
    width:100%;
    align-items: center;
    justify-content: center;
  }

  /* /////////////////////////////////////////////// */
  /* /////////////////   CONTACT   ///////////////// */
  /* /////////////////////////////////////////////// */
  .footer{
    flex-direction: column;
  }
}

@media screen and (max-width:768px){

  /* ////////////////////////////////////////////// */
  /* /////////////////   HEADER   ///////////////// */
  /* ////////////////////////////////////////////// */

  .header{
    display:block;
    height:auto;
    justify-content: center;
    /* align-items: center; */
  }

  .header-menu{
    display:block;
  }

  .header-logo{
    text-align: center;
  }

  .header-element{
    /* display:initial; */
    display:block;
    text-align: center;
  }

  /* /////////////////////////////////////////////// */
  /* /////////////////   PROJECT   ///////////////// */
  /* /////////////////////////////////////////////// */

  .project{
    width: 70%;
    height: auto;
    font-size: 70px;
  }

  /* ////////////////////////////////////////////////// */
  /* /////////////////   EXPERIENCE   ///////////////// */
  /* ////////////////////////////////////////////////// */

  .experience{
    padding:10px;
    margin:25px;

    max-width: 800px;
    max-height: 800px;

    background-image:linear-gradient(rgb(218, 218, 218),#f0f0f0);

    font-size: 60px;
  }

  .experience-image-container{
    justify-content: center;

    max-width: 700px;
  }

  .experience ol{
    margin-left: 15px;
    padding:15px;
    list-style: decimal;
  }
}

@media screen and (max-width:480px){
  .project{
    font-size: 70px;
  }

  .project-Details{
    max-width:500px;
    margin: 10px 20px;
    /* font-size: .5em; */
  }
}

@media screen and (max-width:320px){
  .project{
    font-size: 80px;
  }
  .experience{
    font-size: 80px;
  }
}