/*
Desktop first starts with the biggest media query
*/

@media screen and (max-width:2560px) and (min-width:1440px){
  .hero{
    background-size: 100%;
  }
  /* /////////////////////////////////////////////// */
  /* /////////////////   PROJECT   ///////////////// */
  /* /////////////////////////////////////////////// */

  .project{
    width: 40%;
    height: 80%;
    /* height: 1000px; */
  }

  .project-title{
    font-size: 50px;
  }

  .project-course{
      font-size: 30px;
  }

  .project-date{
      font-size: 30px;
  }

  .project-description{
      font-family: Kalam;
  }

  .project-description-line{
      font-size: 20px;
  }

  /* ////////////////////////////////////////////////// */
  /* /////////////////   EXPERIENCE   ///////////////// */
  /* ////////////////////////////////////////////////// */

  .experience{
    width: 40%;
    /* height: 100%; */
    height: 1000px;
  }

  .experience-image-container{
    margin:15px;
    padding:50px;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
  }

  .experience-image{
    width: 300px;
    height: 300px;

    padding-right:20px;
    padding-left:20px;

    object-fit: fill;
    flex-shrink: 0;
  }

  .experience-image-Inart{
    width: 200px;
    height: 300px;
    object-fit: fill;
    flex-shrink: 0;
  }

  .experience-subtitle{
    margin: 10px;
    flex-shrink: 0;
    
    font-size: 50px;
    color:blue;
  }

  .experience-position{
      margin: 10px;
      flex-shrink: 0;

      font-size: 40px;
  }

  .experience-description{
      margin: 10px;
      flex-shrink: 0;
  }

  .experience-elements{
    font-family: 'Indie Flower';
    font-size: 30px;
  }

  .experience-url{
    font-size: 30px;
  }
}

@media screen and (max-width:1440px) and (min-width:1314px){
  .project{
    width: 60%;
    height: 80%;
  }
}

@media screen and (max-width:1313px){

  .project{
    width: 60%;
    height: 80%;
  }
  
  .experience{
    width: 50%;
    height: 100%;
  }


  .hero
  {
      justify-content: center;
  }
}

@media screen and (max-width:768px){

  .navBar{
    display:block;
    height:auto;
    justify-content: center;
    /* align-items: center; */
  }

  .header-menu{
    display:block;
  }

  .header-logo{
    text-align: center;
  }

  .header-element{
    /* display:initial; */
    display:block;
    text-align: center;
  }

  .project-description{
    font-family: Kalam;
    font-size: .75em;
  }

  .project-description-line{
    font-size: 20px;
  } 

  .experience-image-container{
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    background-image:radial-gradient(rgb(70, 70, 70),#363636);
    background-repeat: no-repeat;

    max-width: 700px;
    margin:10px;
    padding:20px;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
  }

  .experience{
    padding:10px;
    margin:25px;
    margin-bottom: 30px;

    max-width: 800px;
    max-height: 800px;

    background-image:linear-gradient(rgb(218, 218, 218),#f0f0f0);
    background-repeat: no-repeat;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
  }


  .experience ol{
    margin-left: 15px;
    padding:15px;
    list-style: decimal;
  }
}

@media screen and (max-width:480px){
  .project-Details{
    max-width:500px;
    margin: 10px 20px;
    font-size: .5em;
  }

  .project-description{
      font-family: Kalam;
      font-size: 15px;
  }

  .project{
    width: 80%;
    height: 80%;
  }

  .project-description-line{
    font-size: 15px;
  }
}

@media screen and (max-width:320px){
  /* .project-Details{
    max-width:500px;
    margin: 10px 20px;
    font-size: .5em;
  }

  .project-description{
    font-family: Kalam;
    font-size: 20px;
  } */

  .project-description-line{
    font-size: 10px;
  }
}